<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
        This file is intended to be deployed to IIS.
        See: https://github.com/drwatson1/AspNet-Core-REST-Service/wiki#deploying-to-iis
    -->
  <location path="." inheritInChildApplications="false">
    <!-- This settings must be used along with requestLimits settings below -->
    <system.web>
      <httpRuntime maxRequestLength="1048576" executionTimeout="900" maxUrlLength="4096" maxQueryStringLength="2048" />
    </system.web>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="false">
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <clear />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" hostingModel="InProcess">
        <environmentVariables />
      </aspNetCore>
      <httpProtocol>
        <customHeaders>
          <!-- X-Powered-By - Remove the HTTP header for added security and a slight performance increase. -->
          <clear />
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering>
          <!-- maxAllowedContentLength - Specifies the maximum length of content in a request, in bytes. The default value is 30000000 (~28.6 MB) and has
                                       been reduced to 1048576 (1 MB). This setting is for IIS while the httpRuntime.maxRequestLength is
                                       for ASP.NET, so you need to set both to the same value otherwise the smaller number wins (See http://stackoverflow.com/questions/6327452/which-gets-priority-maxrequestlength-or-maxallowedcontentlength). -->
          <!-- maxQueryString - Specifies the maximum length of the query string, in bytes. The default value is 2048. This setting is for IIS while the
                              httpRuntime.maxQueryStringLength is for ASP.NET, so you need to set up both to the same value. -->
          <!-- maxUrl - Specifies maximum length of the URL, in bytes. The default value is 4096. This setting is for IIS while the
                      httpRuntime.maxUrlLength is for ASP.NET, so you need to set both to the same value. -->
          <requestLimits maxAllowedContentLength="1048576" maxQueryString="2048" maxUrl="4096" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>